.App {
  text-align: center;
  color: #444343;
  font-family: "VK" !important;
}

.App-header {
  background-color: #EDEDED
  ;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #EDEDED  ;
  font-family: "VK" !important;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

input {
  border: none;
  border-top: 1px solid #ddd;
  font-size: 16px;
  padding: 30px;
  width: 100%;
}

input:focus {
  outline: none;
}



.chatfeed-wrapper {
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.08);
  border-radius: 15px;
  max-width: 450px;
  height: 550px;
  margin: 0 auto;
  border: 4px solid rgb(0, 0, 0);
  padding: 10px;
  background-color: rgb(231, 253, 231);
}
.chatInput{
  margin-top: 70px !important;
}

#chat-panel {
  padding: 0px 10px;
}

.chat-history {
  display: block;
  min-height: 390px;
}

.outer {
  display: block;
  height: 50%;
  overflow-y: scroll;
  position: relative;
}

.inner {
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.chatContainer{
  margin-top: 30px !important;
}

.choiceRow{
  max-height: 300px !important;
  margin-bottom: 40px !important;
  margin-top: 20px !important;
}

.boxContent{
  margin-top: 10px !important;
  margin-bottom: 20px !important;

}

.deckContainer{
  position: relative; 
  right: 90px;
}


.recentMoves{
  max-width: 300px !important;
}

.resultCol{
  margin-bottom: 30px;
  padding-top: 20px;
}



.aBorder{
  height: 180px;
  width: 130px;
  border-radius: 15px !important;
  background-color: #FFD0DA !important;
  margin-top: 20px;
  margin-bottom: 20px;
  margin: auto;
}

.winBorder {
  border-radius: 25px;
  background: #abf544;
  padding: 20px; 
  width: 200px;
  height: 150px;  
  margin:auto;
}

.lossBorder {
  border-radius: 25px;
  background: #FFD0DA;
  padding: 20px; 
  width: 200px;
  height: 150px;  
  margin:auto;
}

.drawBorder {
  border-radius: 25px;
  background: #818181;
  padding: 20px; 
  width: 200px;
  height: 150px;  
  margin:auto;
}

.handImg{
  margin: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.abadge{
  top: -30px !important;
  left: 125px !important;
  position:relative !important;
}

.burando{
  color:#ffffff !important;
  height:70px !important;
}

button:active{
  background-color: #3a3939 !important;
}

button:hover{
  background-color: #e7c55e !important;
  border-color: rgb(0, 0, 0) !important;
}


.btn{
  --bs-btn-color: #000 !important;
  --bs-btn-bg: #FFD966 !important;
  --bs-btn-border-color: #000000 !important;
  --bs-btn-hover-color: #000 !important;
  --bs-btn-hover-bg: #e7c55e !important;
  --bs-btn-hover-border-color: #000000 !important;
  --bs-btn-focus-shadow-rgb: 217,164,6 !important;
  --bs-btn-active-color: #000 !important;
  --bs-btn-active-bg: #000000 !important;
  --bs-btn-active-border-color: #000000 !important;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0,0,0,0.125)!important;
  --bs-btn-disabled-color: #000 !important;
  --bs-btn-disabled-bg: #FFD966 !important;
  --bs-btn-disabled-border-color: #000000 !important;
}

.room_name{
 padding-top: 20px; 
}

.navBtn{
  max-height: 40px !important;
  height: 100% !important;
  background-image: linear-gradient(
    to bottom,
    #FFD966 0,
    #FFD966 100%
  ) !important;
  color: #000000 !important;
}

.aCardRev{
  height: 230px;
  width: 160px;
  border-radius: 30px !important;
  background-color: #FFD0DA !important;
  margin-top: 20px;
  margin-bottom: 20px;
  margin: auto;
  border: 4px solid black !important;

}

.aCardRev:hover{
  background-color: #aa8b92 !important;
}


.aCard{
  max-height: 230px;
  max-width: 160px;
  width: 100%;
  height: 230px;
  border-radius: 30px !important;
  background-image: url("./components/media/cards/asak2.png");
  background-size: 250px 250px;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 20px;
  margin-bottom: 20px;
  margin: auto;
  border: 4px solid black !important;

  
}

.aCard:hover{
  background-color: #aa8b92 !important;
}

.exPhXV{
  background-color: #FBE5D6 !important;
}

.cvGMHd {
  background: radial-gradient(rgb(0, 0, 0) 100%, rgb(0, 0, 0) 100%) !important;
  border-radius: 20px;
  padding: 3px !important;
}

.dozAQu{
  padding-top: 0px !important;
}

.dropdown-toggle::after {
  display: none !important; 
}

.selectedCard{
  margin-top: -50px;
}

.aselectedCard{
  padding-top: 20px !important;
}

.bselectedCard{
  margin-top: -20px !important;
}

.myTable{
  background-color: #FBE5D6 !important;
  border-radius: 20px !important;
  border: 4px solid black !important;
}

.roomContainer{
  margin: auto;
  max-width: 98vw !important;
}

.walletmanager{
  padding-left: 0px !important;
}

.mainCol{
  margin-top: 10px !important;
}

.announcementsContainer{
  max-height: 700px !important;
  height: 75vh;
  min-height: 75vh !important;
  overflow-y: scroll;
}

.annns{
  margin-top: 40px !important;
}

.modalBody{
  height: 250px;
}

.modal-header{
  border-bottom: none !important;
  justify-Content: center !important;
   align-items: "center" !important;
}

.winningImg{
  display:block !important;
  margin:auto !important;
  margin-bottom: 10px !important;
  border: 3px solid black !important;
}

.modal-content{
  border: 4px solid black !important;
}

.deckRow{
  padding-top: 40px !important;
}

.point{
  padding-top: 60px !important;
  font-size: 80px;
}

.countDownCol{
  margin-left: 30px !important;
  margin-right: -105px !important;
}

.amountSpan{
  width: 65px;
  position: relative;
  left: 30px;
}

.logoSpan{
  position: relative;
  left: 30px;
  top: -5px;
  padding-right: 20px;
  margin-left: 20px;

}

.resultImg{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -30px;
  margin-bottom: 40px;
}
