.App {
  text-align: center;
  color: #444343;
  font-family: "VK" !important;
}

.App-header {
  background-color: #EDEDED
  ;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #EDEDED  ;
  font-family: "VK" !important;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

input {
  border: none;
  border-top: 1px solid #ddd;
  font-size: 16px;
  padding: 30px;
  width: 100%;
}

input:focus {
  outline: none;
}

.chatfeed-wrapper {
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.08);
  border-radius: 15px;
  max-width: 450px;
  margin: 0 auto;
  border: 4px solid rgb(0, 0, 0);
  padding: 10px;
  background-color: rgb(231, 253, 231);
}

#chat-panel {
  padding: 0px 10px;
}

.chat-history {
  display: block;
  min-height: 250px;
}

.outer {
  display: block;
  height: 50%;
  overflow-y: scroll;
  position: relative;
}

.inner {
  margin: 0 auto;
}

.text-center {
  text-align: center;
}



.choiceRow{
  max-height: 160px !important;
  margin-bottom: 40px !important;
  margin-top: 20px !important;

}


.recentMoves{
  max-width: 300px !important;
}

.resultCol{
  margin-bottom: 30px;
  padding-top: 20px;
}



.aBorder{
  height: 160px;
  width: 90px;
  border-radius: 15px !important;
  background-color: #FFD0DA !important;
  margin-top: 20px;
  margin-bottom: 20px;
  margin: auto;
}

.winBorder {
  border-radius: 25px;
  background: #abf544;
  padding: 20px; 
  width: 200px;
  height: 150px;  
  margin:auto;
}

.lossBorder {
  border-radius: 25px;
  background: #FFD0DA;
  padding: 20px; 
  width: 200px;
  height: 150px;  
  margin:auto;
}

.drawBorder {
  border-radius: 25px;
  background: #818181;
  padding: 20px; 
  width: 200px;
  height: 150px;  
  margin:auto;
}

.handImg{
  margin: auto;
  
}

.abadge{
  top: -30px !important;
  left: 125px !important;
  position:relative !important;
}

.burando{
  color:#ffffff !important;
  height:70px !important;
}

button:active{
  background-color: #3a3939 !important;
}

button:hover{
  background-color: #e7c55e !important;
  border-color: rgb(0, 0, 0) !important;
}


.btn{
  --bs-btn-color: #000 !important;
  --bs-btn-bg: #FFD966 !important;
  --bs-btn-border-color: #000000 !important;
  --bs-btn-hover-color: #000 !important;
  --bs-btn-hover-bg: #e7c55e !important;
  --bs-btn-hover-border-color: #000000 !important;
  --bs-btn-focus-shadow-rgb: 217,164,6 !important;
  --bs-btn-active-color: #000 !important;
  --bs-btn-active-bg: #000000 !important;
  --bs-btn-active-border-color: #000000 !important;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0,0,0,0.125)!important;
  --bs-btn-disabled-color: #000 !important;
  --bs-btn-disabled-bg: #FFD966 !important;
  --bs-btn-disabled-border-color: #000000 !important;
}

.room_name{
 padding-top: 20px; 
}

.navBtn{
  max-height: 40px !important;
  height: 100% !important;
  background-image: linear-gradient(
    to bottom,
    #FFD966 0,
    #FFD966 100%
  ) !important;
  color: #000000 !important;
}

.aCardRev{
  height: 160px;
  width: 90px;
  border-radius: 15px !important;
  background-color: #FFD0DA !important;
  margin-top: 20px;
  margin-bottom: 20px;
  margin: auto;
  border: 4px solid black !important;

}

.aCardRev:hover{
  background-color: #aa8b92 !important;
}


.aCard{
  max-height: 160px;
  max-width: 90px;
  width: 90px;
  height: 160px;
  border-radius: 15px !important;
  background-color: #FFD0DA !important;
  background-image: url("./components/media/cards/card2.png");
  margin-top: 20px;
  margin-bottom: 20px;
  margin: auto;
  border: 4px solid black !important;

  
}

.aCard:hover{
  background-color: #aa8b92 !important;
  background-image: url("./components/media/cards/card2hover.png");
}

.exPhXV{
  background-color: #FBE5D6 !important;
}

.cvGMHd {
  background: radial-gradient(rgb(0, 0, 0) 100%, rgb(0, 0, 0) 100%) !important;
  border-radius: 20px;
  padding: 3px !important;
}

.dozAQu{
  padding-top: 0px !important;
}

.dropdown-toggle::after {
  display: none !important; 
}

.selectedCard{
  margin-top: -50px;
}

.aselectedCard{
  padding-top: 20px !important;
}

.bselectedCard{
  margin-top: -20px !important;
}

.myTable{
  background-color: #FBE5D6 !important;
  border-radius: 20px !important;
  border: 4px solid black !important;
}

.roomContainer{
  margin: auto;
  max-width: 1450px !important;
}

.walletmanager{
  padding-left: 0px !important;
}

.announcementsContainer{
  max-height: 400px !important;
  height: 400px;
  overflow-y: scroll;
}

.annns{
  margin-top: 20px !important;
}

.modalBody{
  height: 250px;
}

.modal-header{
  border-bottom: none !important;
  justify-Content: center !important;
   align-items: "center" !important;
}

.winningImg{
  display:block !important;
  margin:auto !important;
  margin-bottom: 10px !important;
  border: 3px solid black !important;
}

.modal-content{
  border: 4px solid black !important;
}

.deckRow{
  padding-top: 40px !important;
}

.point{
  padding-top: 60px !important;
  font-size: 80px;
}