body * {
  margin: 0;
  font-family: VK, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace, 'VK';
}

@font-face {
  font-size: 100%;
  font-family: "VK";
  src: local('VK'), url(./components/fonts/VK.ttf) format('truetype');
  font-weight: bold;
}

span, div, button, p, span{
  font-family: "VK" !important;
}
